#background-sky {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid lemonchiffon;
  border-radius: 5px;
  background: rgba(245, 240, 240, 0.548);
}
#button-search {
  background-color: midnightblue;
  color: lightblue;
  border-radius: 20px;
}
#button-search:hover {
  background-color: lightblue;
  color: midnightblue;
  border-radius: 20px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  margin: 20px;
}
.weather-forecast-date {
  font-size: 20px;
  text-align: center;
  opacity: 0.7;
}

.weather-forecast-temp-max {
  font-size: 16px;
  color: #05004e;
  text-align: center;
  position: relative;
  left: -5px;
}
.weather-forecast-temp-min {
  font-size: 16px;
  color: #05004e;
  opacity: 0.5;
  text-align: center;
  position: relative;
  right: -24px;
  top: -25px;
}

#celcius-link {
  position: relative;
  top: -20px;
}

#fahrenheit-link {
  position: relative;
  top: -20px;
}
#symbol {
  position: relative;
  top: -20px;
}
h1 {
  text-align: left;
  font-weight: 400;
  margin: 0;
  font-size: 48px;
  line-height: 48px;
  color: #00204a;
}

.logo {
  display: block;
  margin: 30px auto;
  width: 150px;
}

.img-positioning {
  display: block;
  margin: 30px auto;
  width: 75%;
}

ul {
  list-style: none;
}

.cities {
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  padding: 20px;
}

#temperature {
  font-size: 44px;
  color: #005792;
}

p {
  position: relative;
  padding: 20px;
  text-align: center;
}
