body {
  background: radial-gradient(
    780px at 37.8% 100.3%,
    rgb(19, 55, 115) 2.2%,
    rgb(32, 7, 80) 20.2%,
    rgb(27, 88, 111) 58.6%,
    rgb(115, 88, 44) 75%,
    rgb(99, 19, 90) 89.6%,
    rgb(12, 51, 76) 96.1%
  );
}

#background-sky {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #febe7e;
  border-radius: 5px;
  background: rgba(245, 240, 240, 0.548);
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 20px;
  text-align: center;
  opacity: 0.7;
}
.weather-forecast-temp-max {
  font-size: 20px;
  color: black;
  text-align: center;
}
.weather-forecast-temp-min {
  font-size: 20px;
  color: black;
  opacity: 0.5;
  text-align: center;
}

h1 {
  text-align: left;
  font-weight: 400;
  margin: 0;
  font-size: 48px;
  line-height: 48px;
  color: #57385c;
}

h2,
h3 {
  color: #ec7263;
}
.logo {
  display: block;
  margin: 30px auto;
  width: 150px;
}

.img-positioning {
  display: block;
  margin: 30px auto;
  width: 75%;
}
ul {
  list-style: none;
}

.cities {
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  padding: 20px;
}

#temperature {
  font-size: 34px;
  color: #a75265;
}

p {
  position: relative;
  padding: 20px;
  text-align: center;
}
